body {
  font-family: sans-serif;
  background-color: #6fa7d5; /* ฟ้าอ่อน */
  color: #033f64;
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #333;
}

input[type="date"] {
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 60%;
  max-width: 250px;
}


button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #333;
  background-color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e0e0e0;
}

#result {
  margin-top: 30px;
  font-size: 0.95em;
  color: #333;
  /* background-color: #ffffffa8; */
  padding: 15px 20px;
  /* border-left: 4px solid #6ba5ff; */
  /* border-radius: 4px; */
  display: inline-block;
  text-align: center;
}
