html, body {
  font-family: 'Prompt', sans-serif;
  height: 100%;               /* ให้เต็มหน้าจอ */
  margin: 0;
  display: flex;              /* ใช้ flexbox */
  align-items: center;        /* จัดกลางแนวตั้ง */
  justify-content: center;    /* จัดกลางแนวนอน */
  background-color: #6fa7d5;  /* พื้นหลังเบาๆ ก็ได้ */
}
.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: white;
  width: 400px;       /* 🔒 ล็อคความกว้าง */
  height: 500px;      /* 🔒 ล็อคความสูง */
  max-height: 75%;
  max-width: 75%;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;     /* ให้スクรอลได้ถ้าเนื้อหาล้น */
}
.action {
  display: flex; 
  flex-direction: column; /* เปลี่ยนแนวจากแถว (row) เป็นแนวตั้ง (column) */
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  margin-top: 20px;
}

h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #333;
}


input[type="date"] {
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 60%;
  max-width: 250px;
}


button {
  font-family: "Prompt", sans-serif;
  font-size: 1em;
  padding: 6px 16px;
  margin-top: 10px;
  background-color: #6fa7d5;
  border-color: #b6e2f9;
  color : white;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #b6e2f9;
}

#result {
  margin-top: 10px;
  font-size: 0.95em;
  color: #333;
  /* background-color: #ffffffa8; */
  padding: 15px 20px;
  /* border-left: 4px solid #6ba5ff; */
  /* border-radius: 4px; */
  display: inline-block;
  text-align: center;
}